<%-include('./inc/head.ejs')%>
</head>
<body>
    <%-include('./inc/topbar.ejs')%>
    <main class="container">
        <%-include('./inc/sidebar.ejs')%>
        <div class="content">
            main content
        </div>
    </main>
<%-include('./inc/footer.ejs')%>
