<div class="sidebar">
    <div class="sidebar-container">
        <div class="sidebar-menu">
            <ul class="sidebar-list">
                <li><a href="">Dashboard</a></li>
                <li><a href="">Customers</a></li>
                <li><a href="">Orders</a></li>
                <li><a href="">Analytics</a></li>
                <li><a href="">Messages</a></li>
                <li><a href="/admin/products">Products</a></li>
                <li><a href="">Settings</a></li>
            </ul>
        </div>
    </div>
</div>