<%-include('./inc/head.ejs')%>
</head>
<body>
    <%-include('./inc/nav.ejs')%>
    <main style="text-align: center; margin-top:6rem;">
        <h1>404</h1>
        <p>페이지를 찾을수 없습니다..</p>
    </main>
<%-include('./inc/footer.ejs')%>