.slide{
    position: relative;
    overflow: hidden;
    height: 500px;
    width: 100%;
}

.slide .item{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: opacity 0.4s ease-in-out;
;
}

.slide .item .content {
    position: absolute;
    bottom: 20px;
    left: -600px;
    opacity: 0;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    padding: 35px;
}

.slide .item.current {
    opacity: 1;
}
.slide .item.current .content {
    opacity: 1;
    transform: translateX(600px);
    transition: all 0.7s ease-in-out 0.3s;
}

.slide .item:nth-child(1) {
    background-image: url("/images/slider/01-slide.jpg");
}
.slide .item:nth-child(2) {
    background-image: url("/images/slider/02-slide.jpg");
}
.slide .item:nth-child(3) {
    background-image: url("/images/slider/03-slide.jpg");
}