.product-head {
    display: flex;
    justify-content: space-between;
}
.product-head h2 {
    color:#333;
    font-size:medium;
}
.product-head a {
    padding:0.5rem 1.2rem;
    border:solid 1px #ddd;
    color:#333;
}
